*{
	margin: 0;
	padding: 0;
}

a{
	color: #fff;
	text-decoration: none;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.center{
	justify-content: center;
}

body{
	background-color: #7ac367;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

.wrapper{
	/*background-color: red;*/
	margin: 0 auto;
	width: 80%;

}

header{
	/*background-color: gray;*/
	height: 100px;
	padding-top: 20px;
}

header img{
	float: left;
}

header p{
	/*background-color: orange;*/
	width: 160px;
	margin: 15px;
	margin-top: 10px;
	float:left;
	font-size: 16px;
}

#about{
	float: right;
	/*background-color: green;*/
	margin-top: 20px;
}

header ul{
	list-style-type: none;
	text-align: right;
}

nav{
	/*background-color: orange;*/
	font-family: 'Noto Serif', serif;
}

nav ul{
	text-align: center;
	font-size: 60px;
	line-height: 100px;
	list-style-type: none;
}


footer{
	clear: both;
	background-image: url("images/footer.png");
	color: #383d3b;
	height: 135px;
	
	/*background-color: green;*/
}

.socialicons{
	float: right;
	margin-top: 45px;
}

.socialicons div{
	display: inline-block;
	text-align: center;
	width: 75px;
}

h1{
	text-align: center;
	font-family: 'Noto Serif', serif;
	font-size: 60px;
	line-height: 100px;
}

.project p{
	padding-top: 10px;
	padding-bottom: 10px;
}

.ux{
	margin-top: 20px;
	background-color: #fff;
	color: #383d3b;
	width: 80%;
	min-width: 775px;
	padding: 20px;
	height: 200px;
	font-size: 20px;
	border-radius: 40px / 30px ;
	overflow: hidden;
}

.ux article img{
	padding-left: 10px;
	margin-right: 10px;
	float: left;
}

.dev{
	margin: 10px;
	background-color: #fff;
	color: #383d3b;
	width: 475px;
	min-width: 375px;
	padding: 10px 20px 20px 20px;
	height: 200px;
	font-size: 20px;
	border-radius: 40px / 30px ;

}

.dev img{
	max-width: 100%;
	max-height: 100%;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.longArticle{
	width: 80%;
	margin: 0 auto;
	line-height: 30px;
	background-color: white;
	color: #383d3b;
	border-radius: 40px / 30px ;
	padding: 20px;
}


.longArticle h2{
	margin-top: 20px;
}
.longArticle h2 p{
	margin-bottom: 10px;
}

.longArticle figure{
	text-align: center;
}

.longArticle p a{
	color: #383d3b;
	text-decoration: underline;
}

.longArticle ul, ol{
	padding-left: 40px;
	/*width: 80%;*/
}

.longArticle ol li ul{
	padding-left: 20px;
}

h4{
	margin-left: 20px;
	margin-top: 10px;
}

figure img{
	max-width: 100%;
}







