*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #7ac367;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

#container{
	margin: 0 auto;
	min-height:100%;
   	position: relative;
   
}


a{
	color: #fff;
	text-decoration: none;
}

.wrapper{
	margin: 0 auto;
	width: 80%;
	padding-bottom: 135px;

}

.flex{
	display: flex;
  	justify-content: center;
 	flex-wrap: wrap;
}


header{
	/*background-color: gray;*/
	padding-top: 20px;
}

header img{
	float: left;
}

header p{
	/*background-color: orange;*/
	width: 160px;
	margin: 15px;
	margin-top: 10px;
	float:left;
	font-size: 16px;
}

#about{
	float: right;
	margin-top: 20px;
}

header ul{
	list-style-type: none;
	text-align: right;
}

nav{
	font-family: 'Noto Serif', serif;
}

nav ul{
	text-align: center;
	font-size: 60px;
	line-height: 100px;
	list-style-type: none;
	
}


footer{
	background-image: url("images/footer2.png");
	color: #383d3b;
	position: absolute; 
	bottom: 0; 
	width: 100%;
	margin-top: 10px;
	height: 135px;

}

.socialicons{
	float: right;
	margin-top: 45px;
}

.socialicons div{
	display: inline-block;
	text-align: center;
	width: 75px;
}

h1{
	text-align: center;
	font-family: 'Noto Serif', serif;
	font-size: 60px;
	line-height: 100px;
	clear: both;
}


.project p{
	padding-top: 10px;
	padding-bottom: 10px;
}

.ux{
	background-color: #fff;
	max-width: 900px;
	min-width: 400px;
	color: #383d3b;
	height: 200px;
	margin-top: 20px;
	padding: 20px;
	border-radius: 40px / 30px;
	overflow: hidden;
}

.ux img{
	padding-left: 10px;
	margin-right: 10px;
	float: left;
}

.dev{
	margin: 10px;
	flex-grow: 1;
	background-color: #fff;
	width: 400px;
	color: #383d3b;
	padding: 10px 20px 20px 20px;
	height: 200px;
	font-size: 20px;
	border-radius: 40px / 30px ;
	overflow: hidden;

}

.dev img{
	max-width: 100%;
	max-height: 100%;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.art{
	margin: 10px;
	background-color: #fff;
	color: #383d3b;
	width: 280px;
	min-width: 250px;
	padding: 10px 20px 20px 20px;
	height: 250px;
	border-radius: 40px / 30px ;

}

.art img{
	max-width: 100%;
	max-height: 100%;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

.longArticle{
	width: 80%;
	margin: 0 auto;
	line-height: 30px;
	background-color: white;
	color: #383d3b;
	border-radius: 40px / 30px ;
	padding: 20px;
}


.longArticle h2{
	
	margin-bottom: 10px;
}
.longArticle p{
	margin-bottom: 20px;
}

.longArticle figure{
	text-align: center;
	margin-bottom: 20px;
}


article a{
	color: #383d3b;
	text-decoration: underline;
}

.longArticle ul, ol{
	padding-left: 40px;
	margin-bottom: 10px;
	/*width: 80%;*/
}

.longArticle ol li ul{
	padding-left: 20px;
}

h4{
	margin-left: 20px;
	margin-top: 10px;
}

figure img{
	max-width: 100%;
}

figcaption{
	font-size: 17px;
}
.question{
	margin: 0 auto;
	width: 60%;
	text-align: center;
	
}

.answer{
	font-size: 25px;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	
}

.small{
	font-size: 15px;
	font-weight: normal;
	padding: 3px;
}

.email{
	font-weight: bold;
}

.aboutImg{
	float: right;
	margin-left: 20px;
	margin-top: 5px;
	max-width: 100%;
}

.here{
	text-decoration: underline;
}

header a:hover{
	text-decoration: underline;
	color: #383d3b ;
}

nav a:hover{
	color: #383d3b ;

}

table, td{
	border-collapse: collapse;
	border: 4px solid #383d3b;
	padding: 5px;
	vertical-align: top;
	font-size: 18px;
}






